@charset "utf-8";
/* 自己做的一些样式修改，单独出来，避免破坏bootstrap构架而造成混乱
======================================================================
*/


@media (min-width: 1200px) {
  .container {
    width: 1024px;
  }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	color: #2a2a2a;
}

.container{
	position: relative;
}

/* 尝试修改轮显的样式 */
/* .container .carousel-indicators{
	position: absolute;
	left: 100%;
	top: 20px;
	z-index: 15;
	width: auto;
	padding-left: 0;
	margin-left: -30%;
	text-align: center;
	list-style: none;
}
.container.assise{
	position: absolute;
	top: 0;
	left: 0;
}
.container.assise .carousel-caption {
  position: absolute;
  bottom: auto;
  top: 60px;
  left: 100%;
  width: 20%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: -20%;
  color: #ffffff;
  text-align: left;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  overflow: hidden;
} */
/* .carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  width: 15%;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  opacity: 0.5;
  filter: alpha(opacity=50);
}
 */




/* 最外围的包裹，确保footer能够在页面底端
（尤其是当页面内容不足以撑起整个屏幕的时候） */

* {
  margin: 0;
  padding: 0;
  font-family: "微软雅黑","Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
textarea{
	resize:none;
}

.fixed{
	position: fixed !important;
}


html,body {
  height: 100%;
}
.wrap {
  min-height: 100%;
}

.wrap .footerpush{
	height:100px;
}
.footer{
	clear:both;
	position: relative;
	margin-top: -100px;
	height: 100px;
}

/* header的一些修改 */
.navbar{
	border: none;
}
.brand{
	height: 90px;
	padding: 0;
	vertical-align: middle;
}
.brand img,.brand .title,.brand form{
	float: left;
}
.brand > a > img{
	margin-top: 28px;
}
.title{
	color: #000;
	font-size: 22px;
	margin-top: 29px;
	margin-left: 15px;
}
.brand form{
	margin: 27px 15px 0 25px;
}
.brand .form-control{
	border-radius: 0;
	width: 400px;
	height: 36px;
}
.btn-search,.btn-search:hover{
	background-color: #008643;
	color: #fff;
	font-size: 20px;
	border-radius: 0;
	border: none;
	height: 36px;
	width: 80px;
	padding: 0;
}

.admin{
	float: right;
	margin-top: 35px;
}
.name,.manage{
	float: left;
}
.admin a, .admin a:hover{
	text-decoration: none;
	color: #474747;
	font-size: 14px bold;
}
.name{
	margin-right: 20px;
}

.navbar-default{
	background-color: #fff;
	border-color: #fff;
}
header nav ul li:hover {
	background-color: #e7e7e7;
}
.navbar-default .navbar-nav > li > a{
	padding: 12px 40px;
	color: #000;
}
.navbar{
	margin-bottom: 0;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #000;
  background-color: #e7e7e7;
}
.header .navbar-collapse{
	padding: 0;
}
/* header置顶 */
.header{
	width: 100%;
	z-index: 1024;
	background-color: rgba(255, 255, 255, 0.90);
}
/* 固定head */
.fixhead{
	position: fixed;
	top: 0;
}
/* 为header添加的搜索框 */
.header-search{
	float: right;
}
.header-search{
	margin: 5px 0 5px 25px;
	padding-right: 0;
}
.header-search .form-control{
	border-radius: 0;
	width: auto;
	height: 34px;
}
.header-search .btn-search{
	background-color: #008643;
	color: #fff;
	font-size: 16px;
	border-radius: 0;
	border: none;
	height: 34px;
	width: 60px;
}


/* 轮播下面空出40px */
.wrap .carousel.slide{
	margin-bottom: 30px;
}

/* 轮播的一些修改 */



/* 行业分类整块内容布局one-part */
.one-part{
	margin: 10px 0;
	padding: 5px 0;
}


/* 行业课分类标题 */
h1,h2,h3,h4,h5{
	font-family:  "微软雅黑","Helvetica Neue", Helvetica, Arial, sans-serif;
}
.catage-title{
	margin: auto 15px;
	position: relative;
}
.catage-title:before,.catage-title:after{
	display: block;
	content: " ";
	clear: both;
}
.catage-title h2{
	float: left;
	margin-bottom: 20px;
}
.catage-title ul{
	float: left;
	list-style: none;
	margin: 33px 20px 20px;
}
.catage-title ul li{
	float: left;
	position: relative;
	display: block;
	color: #bbb;
}
.catage-title ul span{
	float: left;
	position: relative;
	display: block;
	color: #bbb;
	margin: 0;
}
.catage-title ul li a{
	position: relative;
	display: block;
	text-decoration: none;
	color: #666;
	margin: 0 8px;
}

/* 行业分类内容 */
.intro{
	background-color: #f7f7f7;
	height: 160px;
}
.intro .course-name{
	margin: 15px 15px 10px;
	font-size: 16px;
}
.intro .col-md-6 p{
	margin: 0 15px 15px;
	color: #555;
}
.course-intro a{
	text-decoration: none;
}
.course-name{
	margin: 4px 0 0;
	font-size: 14px;
	color: #2a2a2a;
}
.course-name:hover{
	color: #09924b;
}
.course-depart,.course-depart:hover{
	color: #808080;
}
.course-intro img{
	width: 100%;
	height: auto;
}

/* 一排的图片的样式 */
.second-line{
	margin-top: 25px;
	padding: 0 15px;
}
.second-line:before,.second-line:after{
	display: table;
	content: " ";
	clear: both;
}
.img-line{
	position: relative;
	padding-left: 0;
	padding-right: 0;
	overflow: hidden;
}
.img-line img{
	width: 100%;
	height: 100%;
}
/* 图片hover后的样式 */
.dask{
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.6);
	display: none;
}
.dask.active{
	display: block;
	z-index: 1;
}
.dask .play{
	background-color: #05a756;
	color: #fff;
	font-size: 14px;
	text-align:center;
	vertical-align: middle;
	transform: rotate(-45deg);
 	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	position: absolute;
	top: -8px;
	left: -42px;
	overflow: hidden;;
	padding: 20px 40px 6px;
}
.ico-play{
	position: absolute;
	top: 50%;
	left: 50%;
	height: 50px;
	width: 50px;
	margin-top: -25px;
	margin-left: -25px;
	background: url('../img/ico-play.png') no-repeat;
}
.show-nq{
	position: absolute;
	top: 50%;
	width: 100%;
	color: #f1f1f1;
	font-size: 16px;
	text-align: center;
}
.show-title{
	position: absolute;
	color: #fff;
	top: 50%;
	margin-top: 30px;
	width: 100%;
	text-align: center;
	padding: 0 10px;
}
.myclose{
	position: absolute;
	cursor: pointer;
	top: 6px;
	right: 6px;
	height: 20px;
	width: 20px;
	background: url('../img/ico_close1.png') no-repeat;
}
.myclose:hover{
	background: url('../img/ico_close2.png') no-repeat;
}

/* footer的样式 */
.footer{
	background-color: #e7e7e7;
	border-top: 1px solid #ddd;
}
.footer .content{
	margin: 40px 0;
	font-size: 16px;
}

/*--返回顶部--*/
.back-to{
	bottom: 120px;
	overflow:hidden;
	position:fixed;
	right:20px;
	width:90px;
	z-index:999;
}
.back-to .back-top{
	background: url("../img/up1.png") no-repeat scroll 0 0 transparent;
	display: block;
	float: right;
	height:90px;
	margin-left: 10px;
	outline: 0 none;
	text-indent: -9999em;
	width: 90px;
}
.back-to .back-top:hover{
	background: url("../img/up.png") no-repeat scroll 3px 3px transparent;
}


/* search页面 */
.sidebar{
	padding-left: 0;
	margin-top: 130px;
}
ul{
	list-style: none;
}

.sidebar ul li{
	position: relative;
	margin-bottom: 5px;
	width: 100%;
	height: auto;
	background-color: #fff;
}
.sidebar ul .active,.sidebar ul .active:hover{
	background-color: #05a756;
	border-right: 1px dashed #dedede;
}
.sidebar ul .active a{
	color: #fff;
}
.sidebar ul li:hover{
	background-color: #ececec;
	border-right: 1px dashed #dedede;
}
.sidebar ul li{
	position: relative;
	display: block;
}
.sidebar ul li a{
	padding: 5px 10px;
	color: #2b2b2b;
	display: block;
}
.sidebar ul li a:hover{
	text-decoration: none;
}
.sidebar hr{
	margin: 4px 0 ;
	border: 0;
	border-top: 1px dashed #dedede;
}
.filter{
	display: block;
	font-size: 16px;
	color: #2b2b2b;
	padding: 5px 0;
}
.filter-title,.incoming,.classify,.school{
	padding-left: 10px;
}
.classify-content span{
	display: inline-block;
	font-size: 12px;
	color: #666;
}
.classify-content span:hover, .classify-content .active{
	background-color: #21a557;
	cursor: pointer;
	color: #2b2b2b;
}

.search-title{
	padding-top: 24px;
	position: relative;
}
.search-title:before, .search-title:after{
	content: " ";
	clear: both;
	display: block;
}
.search-title h2,.search-title span{
	float: left;
}
.search-title span{
	margin: 33px 0 10px 56px;
}
.resault{
	margin-top: 50px;
}
.search-part{
	margin-top: -10px;
	position: relative;
	background-color: #f3f3f3;
	display: block;
	min-height: 120px;
	width: 798px;
	overflow: auto;
}
.search-part:before,.search-part:after{
	content: " ";
	clear: both;
}
.pic{
	float: left;
	position: relative;
	display: block;
	padding: 0;
  	height: 110px;
	width: 190px;
}
.pic img{
	width: 100%;
	height: 100%;
}
.text-content{
	float: left;
	overflow: hidden;
	padding: 0px 4px 0 10px;
	margin: auto;
	width: 600px;
}
.text-content table{
	width: 100%;
	color: #808080;
}
.text-content table th a{
	color: #202020;
	font-size: 15px;
	font-weight: normal;
}
.text-content table td a{
	color: #464646;
}
.text-content table td a:hover,
.text-content table th a:hover{
	color: #21a557;
	text-decoration: none;
}

.ico-favor{
	background: url('../img/favor0.png') no-repeat;
	width: 18px;
	height: 18px;
	display: inline-block;
	vertical-align: bottom;
}
.favor:hover .ico-favor,.favor.selected .ico-favor{
	background: url('../img/favor1.png') no-repeat;
}
.favor:hover,
.favor:hover a,
.favor.selected,
.favor.selected a{
	color: #21a557;
	cursor: pointer;
}
.td15{
	width: 15%;
}
.td25{
	width: 25%;
}
.td35{
	width: 35%;
}
.paging{
	display: inline-block;
  	padding-left: 0;
  	margin: 10px 0 20px 20%;
}
.paging > li {
	display: inline-block;
	margin: 0 2px;
}
.paging > li > a,
.paging > li > span {
	color: #333;
	position: relative;
	float: left;
	width: 34px;
	height: 34px;
	/* padding: 6px 12px; */
	margin-left: -1px;
	line-height: 34px;
	text-decoration: none;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	text-align: center;
}
.paging > li > a:hover,
.paging > li > span:hover,
.paging > li > a:focus,
.paging > li > span:focus {
	background-color: #eeeeee;
}
.paging > .active > a,
.paging > .active > span,
.paging > .active > a:hover,
.paging > .active > span:hover,
.paging > .active > a:focus,
.paging > .active > span:focus {
	z-index: 2;
	color: #ffffff;
	cursor: default;
	background-color: #299961;
	border-color: #299961;
}
.paging > .etc > a,
.paging > .etc > span,
.paging > .etc > a:hover,
.paging > .etc > span:hover,
.paging > .etc > a:focus,
.paging > .etc > span:focus {
	cursor: default;
	border-color: #fff;
	background-color: #fff;
}
/* 学习页面，视频播放，评论列表等 */
video{
	display: block;
	margin: 0 auto;

	z-index: 99;
}
.video{
	position: relative;
	background-color: #111;
	margin-bottom: 100px;
	zoom: 1;
}
.video .container{
	position: absolute;
	left: 50%;
	margin-left: -512px;

}
.video:after{
	display: table;
	content: "";
	clear: both;
}
.vhead{
	top: 16px;
}
.vcontrol{
	bottom: 16px;
}
.video .container.vcontrol div{
	float: left;
}
ul.breadnav{
	float: left;
	margin-bottom: 0;
}
ul.breadnav.caozuo{
	float: right;
}
.breadnav.caozuo li{
	padding: 0 15px;
}
.breadnav.caozuo li a{
	text-decoration: none;
	font-size: 12px;
}
.breadnav.caozuo li a span{
	font-size: 12px;
}
.caozuo .ico-favor,.caozuo .ico-nq{
	margin-top: 2px;
}
.breadnav.caozuo li.active a span{
	color: #1d914c;
}
.ico-nq{
	background: url(../img/ico_nq0.png) no-repeat;
	height: 18px;
	width: 16px;
	float: left;
}
li.active .ico-nq{
	background: url(../img/ico_nq1.png) no-repeat;
}
.qn-pop{
	position: absolute;
	background-color: white;
	right: 15px;
	top: 38px;
	width: 258px;
	z-index: 9999;
	display: none;
}

.nav-tabs > li > a{
	border: none;
	margin-right: 0;
	border-radius: 0;
}
.nav-tabs > li > a{
	color: #cbcbcb;
	background-color: #112e29;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus{
	color: #fff;
	background-color: #112e29;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  	color: #fff;
	background-color: #112e29;
	border: none;

}
.arrow-up{
	display: none;
	position: absolute;
	left: 33px;
	top: 30px;
}
li.active .arrow-up{
	display: block;
}
.arrow-up span{
	font-family: "SimSun";
	overflow: hidden;
	font-size: 20px;
	line-height: 20px;
	display: block;
	width: 20px;
	height: 20px;
}
.arrow-up span{
	color: white;
}
.tab-content{
	height: 400px;
}
.tab-pane{
	height: 400px;
	padding: 12px 20px;
	border-left: 1px solid #ececec;
	border-bottom: 1px solid #ececec;
	overflow-y: scroll;
}
.tab-pane#home ul li a{
	display: block;
	padding: 2px 0;
	text-decoration: none;
	color: #333;
}
.nptop:after{
	display: table;
	content: "";
	clear: both;
}
.nptop span{
	float: left;
	display: block;
	padding: 2px 4px;
	background-color: #ececec;
	color: #222;
	font-size: 11px;
}
.nptop span:hover{
	color: #fff;
	background-color: #21aa43;
	cursor: pointer;
}
.npcontent{
	color: #222;
	font-size: 12px;
	margin: 10px 0 6px;
}
.npbottem:after{
	display: table;
	content: "";
	clear: both;
}
.npbottem{
	padding-bottom: 4px;
	border-bottom: 1px dashed #dedede;
}
.npbleft, .modify, .delete{
	float: left;
}
.npbright{
	float: right;
}
.npbleft span{
	display: block;
	height: 18px;
	line-height: 18px;
	font-size: 11px;
	color: #979799;
}
.modify,.delete{
	padding-left: 20px;
	font-size: 11px;
	color: #777;
	height: 18px;
	line-height: 18px;
}
.modify{
	background: url(../img/ico_nq0.png) no-repeat;
	margin-right: 10px;
}
.modify:hover{
	background: url(../img/ico_nq1.png) no-repeat;
	color: #21aa43;
	cursor: pointer;
}
.delete{
	background: url(../img/ico_delete0.png)0 2px no-repeat;
}
.delete:hover{
	background: url(../img/ico_delete1.png)0 2px no-repeat;
	color: #21aa43;
	cursor: pointer;
}
#writepop{
	font-size: 12px;
	width: 100%;
	height: 60px;
}
.postnq,.postnp:focus{
	display: block;
	height: 20px;
	width: 64px;
	margin: 8px auto;
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	background-color: #21aa43;
	border: none;
}

.comentwrap{
	padding: 10px 0;
	width: 100%;
	background-color: #fece7a;
}
.comentwrap .cm-reply{
	margin: 10px 0 15px;
}
.morecmt .comment{
	background-color: #fffee9;
}
.mcmtbread{
	width: 100%;
	height: 106px;
	line-height: 106px;
	background-color: #fece7a;
}
.mcmtbread .breadnav li,
.mcmtbread .breadnav li a{
	font-size: 26px;
	color: #333;
}














.container.vcontent{
	top: 40px;
}

.breadnav:before, .breadnav:after{
	content: " ";
}
.breadnav li{
	float: left;
	padding: 0 2px;
	color: #999;
}
.breadnav li a{
	font-size: 13px;
	color: #999;
}
.vplay{
	height: 26px;
	width: 22px;
	background: url(../img/play.png);
}
.video .progress-bar{
	background-color: #195b34;
}
.play-now{
	position: absolute;
	left: 60%;
	margin-left: -13px;
	height: 26px;
	width: 26px;
	background: url(../img/play_now.png) no-repeat;
}
.video .progress{
	height: 6px;
	margin: 10px 0px;
}
.video .progress.pro-video{
	width: 738px;
}
.video .progress.pro-vol{
	width: 78px;
	margin: 10px 14px 10px 4px;
}
.zoom{
	float: none;
	position: absolute;
	right: 15px;
	bottom: 0;
	height: 26px;
	width: 24px;
	background: url(../img/zoom.png) no-repeat;
}
.zoom:hover,.vplay:hover{
	cursor: pointer;
}
.timenow{
	display: block;
	font-size: 12px;
	color: #aeaeae;
	height: 26px;
	line-height: 26px;
}
.volume{
	margin-left: 6px;
	height: 26px;
	width: 18px;
	background: url(../img/volume.png) no-repeat;
}
/* 课程介绍 */
.intro-class{
	margin: 0 15px;
}
.intro-class:before,.intro-class:after{
	display: table;
	content: " ";
	clear: both;
}
.show-pic{
	float: left;
	width: 190px;
}
.show-detail{
	float: right;
	width: 804px;
	overflow: hidden;
}
.showdl, .showdr{
	padding: 0 0 10px;
}
.showdl{
	width: 320px;
}
.namekeys{
	color: #737373;
}
.namevals,.namevals a{
	color: #2a2a2a;
}
.sd-content{
	color: #555;
}
.second-line.detail-class{
	margin-bottom: 25px;
}

/* 网友评论 */
.comment{
	position: relative;
	background-color: #f3f3f3;
	margin: 0 15px;
}
.comment:before,.comment:after{
	display: table;
	content: " ";
	clear: both;
}
.cm-avatar,.cm-detail{
	float: left;
	padding-top: 14px;
}
.cm-avatar{
	width: 116px;
}
.cm-detail{
	width: 878px;
}
.cm-title,.cm-content,.cm-opra{
	position: relative;
	zoom: 1;
}
.cm-title:after, .cm-opra:after{
	display: block;
	content: "";
	clear: both;
}
.comment span{
	display: block;
	float: left;
}
.cm-name,.cm-name a{
	color: #008643;
	font-size: 12px;
}
.cm-name{
	padding-top: 2px;
}
.place{
	color: #3f3f3f;
}
.date{
	color: #3f3f3f;
	font-size: 12px;
	position: absolute;
	left: 400px;
	top:2px;
}
.cm-content{
	color: #0b0b0b;
	margin: 10px 0;
}
.cm-opra{
	padding: 4px 0;
}
.cm-school,.cm-school a,
.cm-class,.cm-class a{
	color: #808080;
	font-size: 12px;
}
.cm-class{
	width: 220px;
	overflow: hidden;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	white-space: nowrap;
}
.huifu,.fuzhi,.ding{
	position: absolute;
}
.huifu,.fuzhi,.ding,
.huifu a,.fuzhi a,.ding a{
	color: #008643;
	top: 0;
}
.huifu{
	left: 256px;
}
.fuzhi{
	left: 330px;
}
.ding{
	left: 404px;
}
hr.cm-tophr{
	border: none;
	border-bottom: 1px solid #ececec;
	margin: 0 15px 6px;
}
hr.cm-bottomhr{
	border: none;
	border-bottom: 1px solid #ececec;
	margin: 6px 15px 20px;
}
.dosth{
	position: relative;
	margin: 0 auto;
	zoom: 1;
	width: 260px;
}
.dosth:after{
	display: table;
	content: "";
	clear: both;
}
.domore,.docm{
	float: left;

}
.domore{
	margin-right: 8px;
}
.domore .btn{
	color: #2b2b2b;
	width: 126px;
	height: 38px;
	background-color: #ececec;
}
.docm .btn{
	color: #fffdfd;
	width: 126px;
	height: 38px;
	background-color: #21aa43;
}
.cm-reply{
	position: relative;
	margin: 20px 15px;
	height: 182px;
}
.cm-reply span{
	position: absolute;
	right: 10px;
	bottom: 2px;
	font-size: 12px;
	color: #3f3f3f;
}
#dorpl{
	height: 100%;
	width: 100%;
	padding: 10px 10px 18px;
}




/* 我的课程正在学习 */
.sidebar.learning{
	margin-top: 112px;
}
.learning li{
	text-align: center;
}
.mylearn{
	margin-bottom: 20px;
}
.tabs{
	width: 100%;
	zoom: 1;
	margin: 18px 0;
}
.tabs:after{
	display: table;
	content: "";
	clear: both;
}
.tabs div{
	float: left;
	margin-right: 58px;
	color: #666;
	border-bottom: 3px solid #858585;
}
.tabs div a{
	color: #666;
	text-decoration: none;
}
.tabs div:hover a,
.tabs div.active a{
	color: #2a2a2a;
}
.tabs div:hover,
.tabs div.active{
	color: #2a2a2a;
	border-bottom: 3px solid #2a2a2a;
}
.row.f-in-o{
	margin-left: -6px;
	margin-right: -6px;
}
.row.f-in-o .col-md-3,
.row.f-in-o .col-sm-4,
.row.f-in-o .col-xs-6{
	padding-left: 6px;
	padding-right: 6px;
}
#target-t-note, #target-t-2,#target-t-3,
#target-t-ques{
	display: none;
}

.bookpic{
	position: relative;
	border: 1px solid #ececec;
}
.bookpic a img{
	width: 100%;
}
.showinfo{
	padding: 22px 8px 6px;
	background-color: #fff;
}
.showinfo.active{
	position: relative;
	background-color: rgba(0,0,0,0.4);
	z-index: 9;
}
.infotop,.infoprog.infohis{
	width: 100%;
	zoom: 1;
}
.infotop:after,
.infoprog:after
.infohis:after{
	display: table;
	content: "";
	clear: both;
}
.booktitle{
	float: left;
	max-width: 128px;
	overflow: hidden;
	white-space: nowrap;
}
.booktitle:hover{
	cursor: pointer;
}
.booktitle span{
	color: #2b2b2b;
}

.placenow{
	float: right;

}
.placenow,.placenow span,
.infohis,.infohis span{
	color: #666;
}
.active .booktitle span,
.active .placenow,.active .placenow span,
.active .infohis,.active .infohis span{
	color: #fff;
}
.infoprog{
	margin: 8px 0;
}
.infoprog .progress{
	margin: 0;
	height: 8px;
	border-radius: 0;
	background-color: #ececec;
}
.infoprog .progress-bar{
	height: 8px;
	background-color: #a4a4a4;
}
.active .infoprog .progress{
	background-color: #ececec;
}
.active .infoprog .progress-bar{
	background-color: #21a557;
}
.review{
	position: absolute;
	cursor: pointer;
	right: 8px;
	bottom: 6px;
	float: right;
	height: 16px;
	line-height: 16px;
	width: 46px;
	font-size: 12px;
	color: #fff;
	text-align: center;
	background-color: #21a557;
	border-radius: 2px;
}
.onebook{
	margin: 4px 0;
	padding: 4px 0;
}
/* 笔记问答my_class_nq */
.nq-title{
	width: 100%;
	overflow: hidden;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	white-space: nowrap;
	color: #2b2b2b;
	text-align: center;
	margin-bottom: 14px;
}
.nq-title a{
	color: #2b2b2b;
	text-decoration: none;
}
.nq-num{
	width: 100%;
	color: #666;
	text-align: center;
}
.showinfo.active .nq-title a{
	color: #666;
}
.note-intro{
	margin-bottom: 30px;
}
.note-intro,.one-note{
	position: relative;
	background-color: #f3f3f3;
	width: 100%;
	zoom: 1;
	overflow: hidden;
}
#target-t-note{
	padding-left: 6px;
	padding-right: 6px;
}
.note-intro:after,
.one-note:after{
	display: table;
	content: "";
	clear: both;
}
.note-intro img{
	float: left;
	width: 25%;
}
.nc-right{
	float: left;
	padding-left: 40px;
	margin-top: 18px;
	width: 75%;
}
.nc-title{
	font-size: 24px;
	margin-bottom: 20px;
}
.nc-pre{
	font-size: 12px;
	color: #999;
	margin-bottom: 6px;
}
.note-num{
	color: #303030;
	margin-top: 38px;
	margin-bottom: 34px;
}
.one-note{
	padding-right: 10px;
}
.lession{
	width: 60px;
	height: 60px;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -30px;
	text-align: center;
	line-height: 60px;
	color: #fff;
	background-color: #21a557;
}
.note-right{
	padding-left: 80px;
}
.nr-content{
	margin-top: 22px;
	color: #222;
	padding-bottom: 42px;
}
.nr-opra{
	position: absolute;
	right: 18px;
	bottom: 12px;
	height: 30px;
	zoom: 1;
	line-height: 30px;
	vertical-align: middle;
}
.nr-opra:after{
	display: table;
	content: "";
	clear: both;
}
.nr-opra span{
	float: left;
	display: block;
	font-size: 11px;
	color: #212121;
	margin-right: 20px;
}
.tosw{
	float: left;
	height: 30px;
	width: 98px;
	margin-left: 20px;
	color: #474747;
	line-height: 28px;
	text-align: center;
	border: 1px solid #dedede;
	cursor: pointer;
}
.tosw:hover{
	color: #fff;
	background-color: #21a557;
}
.nr-opra .modify,
.nr-opra .delete{
	margin-top: 6px;
}
.notehr{
	border-top: 1px solid #e5e5e5;
	margin-top: 4px;
	margin-bottom: 16px;
}

/* 我的考试题库页面my_class_exam
	主要用的还是笔记问答页面的元素 */
.nq-title.exam a{
	font-size: 18px;
	color: #2b2b2b;
}
.tags{
	margin: 46px 0;
	zoom: 1;
}
.tags:after{
	display: table;
	content: "";
	clear: both;
}
.onetag{
	float: left;
	height: 26px;
	line-height: 26px;
	padding-left: 20px;
	padding-right: 20px;
	margin-right: 30px;
	cursor: pointer;
	border-radius: 3px;
	-moz-border-radius: 3px;
}
.onetag:hover,.onetag.active{
	background-color: #21a557;
	color: #fff;
}
.exam.one-note{
	height: 104px;
}
.exam .nr-content{
	font-size: 18px;
	color: #2c2c2c;
	padding-left: 30px;
	margin-top: 40px;
}
.exam .nr-opra{
	top: 50%;
	margin-top: -19px;
}
.exam .nr-opra .tosw{
	line-height: 36px;
	width: 112px;
	height: 38px;
}
/* 学员考试试题my_class_paper
	参照了更多评论页面元素 */
.mcmtbread.paper{
	height: 106px;
	line-height: 106px;
}
.paper-title{
	font-size: 24px;
}
.remark{
	height: 166px;
	margin-top: 96px;
	border-top: 1px solid #e5e5e5;
	margin-bottom: 50px;
	border-bottom: 1px solid #e5e5e5;
}
.remark-ct{
	margin-top: 2px;
	background-color: #fffee9;
	height: 160px;
	padding: 20px 40px;
}
.leftform{
	float: left;
	width: 678px;
	margin-bottom: 30px;
}
.rightctrl{
	position: relative;
	float: right;
	width: 268px;
}
.mytable{
	width: 100%;
	border: 1px solid #d0d0d0;
	border-bottom: none;
}
.mytable tbody{
	border-bottom: 1px solid #d0d0d0;
}
.mytable tbody:hover{
	background-color: #e9fff0;
}
.qid{
	width: 50px;
	text-align: center;
	vertical-align: middle;
	font-size: 20px;
	color: #21a557;
}
.qblank{
	width: 10px;
}
.row-1st .qcnt{
	color: #21a557;
	padding: 16px 10px;
}
.row-2nd .qcnt{
	padding: 10px 0;
	border-top: 1px dashed #d0d0d0;
	border-bottom: 1px dashed #d0d0d0;
}
.opt{
	padding: 10px 5px;
	cursor: pointer;
}
.opt:hover{
	background-color: #ddfde8;

}
.opt.active{
	background-color: #d4fce2;
}
.opt em{
	color: #999;
	font-style: normal;
	margin-right: 20px;
}
.qcnt .radio{
	float: left;
	margin-right: 30px;
}
.qcnt .radio + .radio{
	margin-top: 10px;
}
.sel-opr{
	float: right;
	margin-top: 10px;
}
.sel-opr div{
	float: left;
	padding-left: 16px;
	margin-left: 10px;
	cursor: pointer;
}
.ctroltop, .ctrolitems{
	position: relative;
	width: 100%;
	zoom: 1;
}
.ctroltop{
	height: 45px;
	background-color: #fafafa;
	border-bottom: 1px solid #eee;
}
.ctroltop:after, .ctrolitems:after{
	display: table;
	content: "";
	clear: both;
}
.time-left,.ppuse,.pcancle{
	height: 34px;
	line-height: 34px;
	top: 5px;
	cursor: pointer;
}
.time-left{
	position: absolute;
	left: 20px;
	font-size: 20px;
	color: #21a557;
	cursor: default;
}
.ppuse,.pcancle{
	position: absolute;
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #e3e3e3;
}
.ppuse:hover,.pcancle:hover{
	background-color: #f3f3f3;
}
.ppuse{
	left: 100px;
}
.pcancle{
	left: 170px;
}
.befixed{
	border: 1px solid #eee;
}
.befixed.fixed{
	width: 268px;
	top: 100px;
}

.ctrolcmt{
	cursor: pointer;
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
	color: #fff;
	background-color: #21a557;
}
.ctrolcmt:hover{
	background-color: #21c062;
}
.ctrolitems{
	width: 100%;
	padding: 10px 7px;
	zoom: 1;
}
.ctrolitems:after{
	display: table;
	content: "";
	clear: both;
}
.p-item{
	cursor: pointer;
	float: left;
	display: block;
	height: 22px;
	width: 22px;
	margin: 0 3px 5px 0;
	line-height: 22px;
	text-align: center;
	color: #666;
	background-color: #eaeaea;
}
.p-item:hover{
	background-color: #21a557;
	color:#fff;
}


/* 我的讨论 */
.discuz .nc-right{
	margin-top: 12px;
	padding-right: 160px;
}
.discuz .nc-title{
	font-size: 18px;
	color: #2b2b2b;
}
.findcmt{
	position: absolute;
	top: 50%;
	right: 24px;
	margin-top: -20px;
	width: 112px;
	height: 40px;
	line-height: 38px;
	color: #474747;
	text-align: center;
	cursor: pointer;
	background-color: #f3f3f3;
	border: 1px solid #e1e1e1;
}
.findcmt:hover{
	color: #fff;
	background-color: #21a557;
}